form, input, div {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Serif Caption', serif;
    margin: 0;
    padding: 0;
}

.btn {
    padding: 12px 24px;
    background-color: #27ae60;
    box-shadow: 0px 7px #ff4a4a;
    opacity: 0.8;
    border-radius: 4px;
}

.btn:hover {
    opacity: 1;
}

/* css for nav */

nav {
    height: 90px;
    background-color: #16a085;
}

nav .nav-logo {
    float: left;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 36px;
    color: #fff;
    padding: 20px 40px;
}


/* css for main */
main {
    height: 450px;
    background-color: #fff
}

.intro{
    margin-left:100px;
    margin-right: 100px;
}

.intro h1{
    font-size: 60px;
}

.intro-heading span{
    color: #ff4a4a
}

.intro {
    border-bottom: 2px solid #dee7ec
}

#file {
    display: None;
}

.upload {
    width: 600px;
    position: relative;
    align-content: "center";
    text-align: "center";
    margin: 0 auto;
}

.upload h3 {
    text-align: center;
}

#selected-file {
    
}

/* .upload label[for="file"] {
    margin-top: 15px;
    cursor: pointer;
    padding-top: 8px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-family: 'Ubuntu Mono', monospace;
    margin: 0 auto;
    font-size: 24px;
} */

#file-submit {
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    border: none;
    font-size: 24px;
}

#file-submit:active {
    box-shadow: none;
    position: relative;
    top: 7px
}


/* css for footer */

footer .footer-logo {
    float: left;
    font-family: 'Montserrat';
    font-weight: 200;
    font-size: 15px;
    color: #fff;
    line-height: 50px
}

footer {
    height: 50px;
    background-color: #16a085;
    padding-left: 10px;
}
